.main{
    text-align: center;
    line-height: 1rem;

}
.headline{
    width: 100%;
    height: 50px;
    background: #10abff;
}
.guide{
    line-height: 0.5rem;
}
.headline h2{
    color:#fff;
    line-height: 50px;
}
.section {
    margin: 2rem;
}
  .section p{
    margin: 0.5rem;
  }
.error{
    color: #ad0000;
    font-size: 12px;
    line-height: 2rem;
}

.footer{
    width: 100%;
    height: 50px;
    background: #10abff;
}
  .footer p{
      color: #fff;
      line-height: 50px;
  }